h1.ant-typography {
  text-align: center;
  margin-bottom: 53px;
}
.slider {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
}
.addImage {
  margin: auto;
}

.ant-form-vertical .ant-form-item {
  margin: 40px 0px;
}
.submitBtn {
  height: 45px;
  width: 200px;
}
